

form{
  margin:20px;
  padding:20px;
  width:25%;
  border:1px solid #ccc;
}

label{
  width:100%;
  display:block;
  font-size:12px;
}
input, textarea{
  width:100%;
  margin-bottom:20px;
}

input:focus, textarea:focus{
  border:1px; solid:blue;
}
input[type="submit"]{
  margin-bottom:0;
  background:blue;
  color:#fff:
  border:none;

}

input[type="submit"]:hover{
  backaground:#4A88F4;
  cursor:pointer;
}
