

header{
	background-color: white;

}

body{

	background-color: #FBEFFB;
}

h1 {
   color:blue;
   font-size:2em;

 }
 h2	{
	 color: red;
	 font-family: fantasy;
 }
 hr{
	 height: 3px;
   border: 0;
   background-color: red;

 }
 p {
	 font-size: 24px;
	 font-weight: bold;
 }

 table{
 	margin:auto;
 }
