div {
width:100px;
height:100px;
background: #4A88F4;
color:#fff;
}


.padre{
  width: 500px;
  height: 500px;
  background: black;
  position: relative;
}


.hijo{
  position: absolute;
  top:100;
  bottom:;
  right:0;
  left:50px;
}

/*.caja2{



position:absolute;
top:;
bottom:;
right:;
left:300px;



}*/
