*{
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0; /* quitar padding o margen blanco en nuestra pagina */
}

body{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}





.menu{
  width: 100%;
  background-image: linear-gradient(to right, rgb(57, 57, 58) 0%, rgb(10, 10, 10));
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 40px; /* sombreado de caja */

}

.menu li{
  display: inline-block; /* horizontal */
  text-align: center;

}

.menu li a{
  padding: 10px 20px;
  display: inline-block;  /* horizontal */
  color: aliceblue;
  text-decoration: none;
  padding: 10px 100px;
  display: inline-block;
  text-decoration: none;
}




.menu li a:hover{

  color: aliceblue;
  background-color: rgb(40, 40, 40);
  height: 50px;

}


.menu li a:visited{

  color: aliceblue;
  background-color: rgb(40, 40, 40);
  height: 50px;

}


.comprar-juegos form{
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  padding:20px 0;
  width:100px;
  box-shadow: 0 5px 8px lightgreen;
}



input{
  text-decoration: none;
  background-color: greenyellow;
}
